mixin pagination(pagination)
    nav
        ul(class="pagination")
            // Kiểm tra nếu `pagination` tồn tại và có các giá trị hợp lệ
            - let currentPage = pagination && pagination.currentPage ? pagination.currentPage : 1;
            - let totalPage = pagination && pagination.totalPage ? pagination.totalPage : 1;

            // Nút để đến trang đầu tiên
            if (currentPage > 1)
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination=1
                    ) <<

            // Nút "Trang trước"
            if (currentPage > 1)
                li(class="page-item")
                    button(
                        class="page-link" 
                        button-pagination=currentPage - 1
                    ) <

            // Hiển thị các trang ở gần trang hiện tại (3 trước và 3 sau)
            - for (var i = 1; i <= totalPage; i++)
                if (i === 1 || i === totalPage || (i >= currentPage - 3 && i <= currentPage + 3))
                    li(class=`page-item ${currentPage == i ? "active" : ""}`)
                        button(
                            class="page-link"
                            button-pagination=i
                        ) #{i}
                else if (i === currentPage - 4 || i === currentPage + 4)
                    li(class="page-item disabled")
                        span(class="page-link") ...

            // Nút "Trang kế tiếp"
            if (currentPage < totalPage)
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination=currentPage + 1
                    ) >

            // Nút để đến trang cuối cùng
            if (currentPage < totalPage)
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination=totalPage
                    ) >>
